APP_ID=<workspace appId>
APP_SECRET=<workspace secret>
WEBHOOK_SECRET=<workspace webhook secret>
CONNECTIONS_HOSTNAME=https://apps.na.collabserv.com
WW_SDK_LOGGER_LEVEL=info|debug|etc
DEBUG=dpc-assetfinder-* (optional)
VCAP_SERVICES=<your cloudant instance>
CLOUDANT_DBNAME=<cloudant database>